<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr th:each="customer:${customers}">
        <td th:text="${customer.customerid}"></td>
        <td th:text="${customer.firstname}"></td>
        <td th:text="${customer.lastname}"></td>
    </tr>

</table>
</body>
</html>